


.navbar {
  background-color: #2F4F4F;
  padding: 5px 5px 10px 10px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar-header {
	font-weight: bold;
  background-color: #2F4F4F;
}

.navbar-collapse {
	font-weight: bold;
  background-color: #2F4F4F;
   text-align: center;
}

ul.nav a:hover { 
  color: #d3d3d3 !important;
}

/*.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}*/

/*.navbar li a {
    color: white;
}*/

 body {
    background-color: #2F4F4F;
  }

#wrapper {
  border: 1px #e4e4e4 solid;
  padding: 20px 20px;
  border-radius: 2px;
  box-shadow: 0 0 6px #ccc;
  background-color: #fff;
}

#athletePics{
    display:none;
}

#jbacLogo{
	width: 13em;
	height: 10em;
  padding-bottom: 7px;
}

#instafeed{
  padding: .2px .2px .2px .2px;
  margin:10px;
/*  border:1px solid #e1e1e1;*/
  display:inline-block;
  border-radius: 4px;
  position:relative;
 /* float: right;*/
}

#instafeed a {
  padding: .2px .2px .2px .2px;
  margin:10px;
/*  border:1px solid #e1e1e1;*/
  display:inline-block;
  border-radius: 4px;
  position:relative;
}

.fa-stack {
  color: black;
 /* background-color: white*/
}

.copyright {
  color: white;
}

/* for the athete bio scroll over captions*/
.imageHolder:hover .caption {
  opacity: 0.7;
}

.imageHolder .caption {
opacity: 0;
position: absolute;
height:346px;
width: 315px;
bottom: 0px;
left: 0px;
padding: 2px 0px;
color: white;
background: black;
text-align: center;
font-weight:bold;
}

/*.portfolio-item {
position: relative;
width: 5500px;
height: 175px;
}*/
/* end for the athete bio scroll over captions*/

/*#instafeed .likes {
  background:rgba(222,89,135,0.8);
  font-family:sans-serif;
  font-size:1em;
  position:absolute;	
  color:#ffffff;
  right:5px;
  top:5px;
  left:5px;
  opacity:0;
  text-align:center;
  line-height:150px;
  text-shadow:0 1px rgba(0,0,0,0.5);
  -webkit-font-smoothing:antialiased;
  -webkit-transition: opacity 100ms ease;
	-moz-transition: opacity 100ms ease;
	-o-transition: opacity 100ms ease;
	-ms-transition: opacity 100ms ease;
	transition: opacity 100ms ease;
}

#instafeed a:hover .likes {
  opacity:1;
}