
.navbar-header {
	font-weight: bold;
}

.navbar-collapse {
	font-weight: bold;
}


 body {
    background-color: #f4f4f4;
  }

#wrapper {
  border: 1px #e4e4e4 solid;
  padding: 20px 20px;
  border-radius: 4px;
  box-shadow: 0 0 6px #ccc;
  background-color: #fff;
}



#jbacLogo{
	width: 29em;
	height: 15em;
  padding-bottom: 40px;
}

#instafeed{
  padding: .2px .2px .2px .2px;
  margin:10px;
/*  border:1px solid #e1e1e1;*/
  display:inline-block;
  border-radius: 4px;
  position:relative;
 /* float: right;*/
}

#instafeed a {
  padding: .2px .2px .2px .2px;
  margin:10px;
/*  border:1px solid #e1e1e1;*/
  display:inline-block;
  border-radius: 4px;
  position:relative;
}

.fa-stack {
  color: black;
}

.copyright {
  color: black;
}


/*#instafeed .likes {
  background:rgba(222,89,135,0.8);
  font-family:sans-serif;
  font-size:1em;
  position:absolute;	
  color:#ffffff;
  right:5px;
  top:5px;
  left:5px;
  opacity:0;
  text-align:center;
  line-height:150px;
  text-shadow:0 1px rgba(0,0,0,0.5);
  -webkit-font-smoothing:antialiased;
  -webkit-transition: opacity 100ms ease;
	-moz-transition: opacity 100ms ease;
	-o-transition: opacity 100ms ease;
	-ms-transition: opacity 100ms ease;
	transition: opacity 100ms ease;
}

#instafeed a:hover .likes {
  opacity:1;
}