#jbacLogo{
	width: 50%;
	height: 30%;

}

#instafeed{
  padding:5px 5px 1px 5px;
  margin:10px;
  border:1px solid #e1e1e1;
  display:inline-block;
  border-radius: 4px;
  position:relative;
  float: right;
}
